<br>


<!--tcla-spotfire-viz
      url="https://spotfire-next.cloud.tibco.com"
      path="/Users/gozvbddiuoigki7yyogn6yywmiijdy2r/Public/Expense Analyzer Dashboard"
    >
    </tcla-spotfire-viz-->

<mat-tab-group style="margin-top: 30px; height: 100%;">
  <mat-tab label="Config">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-live-apps-application-configuration [sandboxId]="sandboxId" [uiAppId]="appConfig.uiAppId" [appId]="appConfig.applicationId" [folderId]="'ServiceRequest_Icons'" [appTypeLabel]="'Partner Portal'"></tcla-live-apps-application-configuration>
      <!--tcla-live-apps-documents style="padding: 30px;" [folderId]="'ServiceRequest_Icons'" [folderDescription]="'Case Icons'" [folderType]="'orgFolders'"></tcla-live-apps-documents-->
    </ng-template>
  </mat-tab>

  <mat-tab label="Favorite">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-live-apps-favorite-cases class="padded-widget" [sandboxId]="sandboxId" [uiAppId]="appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></tcla-live-apps-favorite-cases>
    </ng-template>
  </mat-tab>

  <mat-tab label="Recent">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-live-apps-recent-cases class="padded-widget" [sandboxId]="sandboxId" [uiAppId]="appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></tcla-live-apps-recent-cases>
    </ng-template>
  </mat-tab>

  <mat-tab label="Search">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-live-apps-search-widget [sandboxId]="sandboxId" [uiAppId]="appConfig.uiAppId" (caseSelected)="clickCaseAction($event)"></tcla-live-apps-search-widget>
    </ng-template>
  </mat-tab>

  <mat-tab label="Creators">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-live-apps-creators [sandboxId]="sandboxId" [applicationId]="appConfig.applicationId" [typeId]="appConfig.typeId" (caseCreated)="handleCaseCreation($event)"></tcla-live-apps-creators>
    </ng-template>
  </mat-tab>

  <!--mat-tab label="Case">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <!--ng-template matTabContent>
      <div fxLayout="column">
        <div style="margin: 20px">
          <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [sandboxId]="sandboxId" [caseReference]="'205301'" [displayType]="'list'" [typeBar]="true"></tcla-live-apps-case-summary>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <tcla-live-apps-case-summary style="margin: 20px;" [uiAppId]="appConfig.uiAppId" [sandboxId]="sandboxId" [caseReference]="'205301'" [displayType]="'card'" [typeBar]="true"></tcla-live-apps-case-summary>
          <tcla-live-apps-case-summary style="margin: 20px;" [uiAppId]="appConfig.uiAppId" [sandboxId]="sandboxId" [caseReference]="'205301'" [displayType]="'miniCard'" [typeBar]="true"></tcla-live-apps-case-summary>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap="20px">
          <tcla-live-apps-notes [relatedItemType]="'CASE_APP'" [relatedItemId]="205301" [userId]="appConfig.userId"></tcla-live-apps-notes>
          <tcla-live-apps-documents [sandboxId]="sandboxId" [folderId]="205301" [folderType]="'caseFolders'"></tcla-live-apps-documents>
        </div>

        <tcla-live-apps-actions style="margin-top: 400px" [caseRef]="205301" [sandboxId]="sandboxId" [applicationId]="appConfig.applicationId" [typeId]="appConfig.typeId" [caseState]="'Created'" (caseActioned)="handleCaseActioned($event)"></tcla-live-apps-actions>
      </div>
    </ng-template>
  </mat-tab-->


  <mat-tab label="Analytics">
    <!-- using ng-template makes sure the tabs are lazy loaded -->
    <ng-template matTabContent>
      <tcla-spotfire-viz
        [sid]="123435"
        [url]="'https://spotfire-next.cloud.tibco.com'"
        [path]="'/Users/gozvbddiuoigki7yyogn6yywmiijdy2r/Public/Expense Analyzer Dashboard'"
        [customization]="{ showAbout: true, showPageNavigation: true }"
      >
        <!-- [customization]="{ showAbout: true, showPageNavigation: true }" -->
      </tcla-spotfire-viz>





    </ng-template>
    <!--tcla-spotfire-viz
      url="https://spotfire-next.cloud.tibco.com"
      path="/Samples/Introduction to Spotfire"
      sid="testsid"
    >
    </tcla-spotfire-viz-->
  </mat-tab>
</mat-tab-group>
