<tcla-live-apps-case-cockpit fxFill [typeId]="typeId" [appId]="appId" [uiAppId]="generalConfig.uiAppId" [sandboxId]="sandbox.id" [caseRef]="caseRef" [userId]="claims.id" (routeAction)="handleRouteAction($event)" ></tcla-live-apps-case-cockpit>
<!--laapp-case-cockpit fxFill [typeId]="appConfig.typeId" [appId]="appConfig.applicationId" [uiAppId]="appConfig.uiAppId" [sandboxId]="sandbox.id" [caseRef]="caseRef" [userId]="appConfig.userId" ></laapp-case-cockpit-->


<!--
<div *ngIf="valid" fxLayout="column" fxFlex fxFill style="padding: 20px">
  <div style="min-height: 40px; margin-bottom: 20px">
    <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'list'" [sandboxId]="sandbox.id" [caseReference]="caseRef"></tcla-live-apps-case-summary>
  </div>

  <div fxLayout="row" fxFlex fxLayout="space-around, stretch" fxLayoutGap="20px">
    <div fxLayout="column" fxFill fxFlex="70" style="min-width: 70%">
      <tcla-live-apps-case-data fxFill [caseReference]="caseRef" [sandboxId]="sandbox.id" [uiAppId]="appConfig.uiAppId" [appId]="appConfig.applicationId" [typeId]="appConfig.typeId" style="background-color: white; border-radius: 3px;"></tcla-live-apps-case-data>
    </div>
    <div fxLayout="column" fxFlex fxLayoutGap="20px">
      <tcla-live-apps-notes fxFlex="50" [relatedItemType]="'CASE_APP'" [relatedItemId]="caseRef" [userId]="appConfig.userId" style="background-color: white; border-radius: 3px;"></tcla-live-apps-notes>
      <tcla-live-apps-documents fxFlex="50" [sandboxId]="sandbox.id" [folderId]="caseRef" [folderType]="'caseFolders'" style="background-color: white; border-radius: 3px;"></tcla-live-apps-documents>
    </div>
  </div>
-->
  <!--
  <button (click)="refresh()">REFRESH ALL</button>
  <button (click)="toggleFavorite()">TOGGLE FAVORITE</button>

  <div>Is Favorite? {{isFavorite}}</div>
-->

  <!--
  <div fxLayout="column" style="min-height: 120px;" fxLayoutAlign="space-around, stretch" fxFlex>

    <div style="padding-left: 50px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px; width: 100%">
      <tcla-live-apps-case-summary fxFlex [uiAppId]="appConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'list'" [sandboxId]="appConfig.sandboxId" [caseReference]="caseRef"></tcla-live-apps-case-summary>
    </div>

    <div fxLayout="column" style="margin-left: 40px">
      <tcla-live-apps-actions [caseRef]="caseRef" [sandboxId]="appConfig.sandboxId" [applicationId]="appConfig.applicationId" [typeId]="appConfig.typeId" [caseState]="'Created'" (caseActioned)="handleCaseActioned($event)"></tcla-live-apps-actions>
    </div>

  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="70">
      <tcla-live-apps-case-data [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId" [uiAppId]="appConfig.uiAppId" [appId]="appConfig.applicationId" [typeId]="appConfig.typeId"></tcla-live-apps-case-data>
    </div>

    <div fxLayout="column" fxFlex>
      <tcla-live-apps-notes [relatedItemType]="'CASE_APP'" [relatedItemId]="caseRef" [userId]="appConfig.userId"></tcla-live-apps-notes>
      <tcla-live-apps-documents [sandboxId]="appConfig.sandboxId" [folderId]="caseRef" [folderType]="'caseFolders'"></tcla-live-apps-documents>
    </div>
  </div>

  <div fxLayout="column" style="margin-left: 40px; min-height: 500px;">
    <div fxLayout="row" style="min-height: 400px;" fxLayoutGap="20px">

      <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'card'" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></tcla-live-apps-case-summary>
      <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'miniCard'" [borderCard]="true" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></tcla-live-apps-case-summary-->
    <!--/div>
    <br-->

    <!--
    <app-live-apps-case-data [uiAppId]="uiAppId" [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'"></app-live-apps-case-data>
    <br>
    <app-live-apps-case-states [sandboxId]="38" [appId]="'934'"></app-live-apps-case-states>
    <br>
    <app-live-apps-case-actions [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'" [caseState]="'Reported'"></app-live-apps-case-actions>
    <br>
    <app-live-apps-case-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-audit>
    <br>
    <app-live-apps-case-state-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-state-audit>
    <br>-->
  <!--div-->

