<div class="tcs-case-favorites-box" fxLayout="column">
    <div class="tcs-case-favorites-header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center">
        <mat-icon class="tcs-icon tcs-favorites-icon" svgIcon="tcs-favorites-icon"></mat-icon>
        <div class="tcs-case-favorites-header-text">Favorites</div>
      </div>
      <mat-icon (click)="clearFavoriteCases()" class="tcs-icon tcs-icon-active tcs-clear-favorite-icon" svgIcon="tcs-clear-icon" matTooltip="Clear Favorites" matTooltipPosition="left" matTooltipShowDelay="1000"></mat-icon>
    </div>
    <div class="tcs-case-favorites-flow-list" fxLayout="column" fxLayout="row wrap">
      <div class="tcs-case-favorite-item-box" *ngFor="let case of favoriteCases" fxFlex>
        <app-live-apps-case-summary [uiAppId]="uiAppId" [typeBar]="true" [borderCard]="false" [miniCard]="true" [sandboxId]="sandboxId" [caseReference]="case" (clickCase)="clickCaseAction($event)"></app-live-apps-case-summary>
        <div class="tcs-case-summary-line"></div>
      </div>
    </div>
</div>
