.tcs-case-favorites-box {
  width: 661px;
  height: 366px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 #dedede;
  background-color: #ffffff;
}

.tcs-case-favorites-header {
  height: 40px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 1px 2px 0 #dedede;
  padding-left: 20px;
  padding-right: 20px;
}

.tcs-case-favorites-header-text {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: black;
  margin-left: 10px;
}

.tcs-case-favorites-flow-list {
  margin: 24px;
  overflow-y: auto;
}

.tcs-case-favorite-item-box {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 297px;
}

.tcs-icon.tcs-icon-active:hover {
  cursor: pointer;
}

:host ::ng-deep .tcs-icon.tcs-icon-active:hover .svg-content {
  fill: #0081cb;
}
