<div *ngIf="valid" fxLayout="column" fxLayoutAlign="start start" fxFlex>
  <button (click)="refresh()">REFRESH ALL</button>
  <button (click)="toggleFavorite()">TOGGLE FAVORITE</button>

  <div>Is Favorite? {{isFavorite}}</div>

  <div style="padding: 50px; width: 100%">
    <tcla-live-apps-case-summary fxFlex [uiAppId]="appConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'list'" [sandboxId]="appConfig.sandboxId" [caseReference]="caseRef"></tcla-live-apps-case-summary>
  </div>


  <div fxLayout="column" style="margin-left: 40px">
    <div fxFlex fxLayout="row" fxLayoutGap="20px">
      <tcla-live-apps-notes [relatedItemType]="'CASE_APP'" [relatedItemId]="caseRef" [userId]="appConfig.userId"></tcla-live-apps-notes>
      <tcla-live-apps-documents [sandboxId]="appConfig.sandboxId" [folderId]="caseRef" [folderType]="'caseFolders'"></tcla-live-apps-documents>
      <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'card'" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></tcla-live-apps-case-summary>
      <tcla-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'miniCard'" [borderCard]="true" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></tcla-live-apps-case-summary>
    </div>

    <tcla-live-apps-actions style="margin-top: 400px" [caseRef]="205301" [sandboxId]="appConfig.sandboxId" [applicationId]="appConfig.applicationId" [typeId]="appConfig.typeId" [caseState]="'Created'" (caseActioned)="handleCaseActioned($event)"></tcla-live-apps-actions>

    <br>

    <!--
    <app-live-apps-case-data [uiAppId]="uiAppId" [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'"></app-live-apps-case-data>
    <br>
    <app-live-apps-case-states [sandboxId]="38" [appId]="'934'"></app-live-apps-case-states>
    <br>
    <app-live-apps-case-actions [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'" [caseState]="'Reported'"></app-live-apps-case-actions>
    <br>
    <app-live-apps-case-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-audit>
    <br>
    <app-live-apps-case-state-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-state-audit>
    <br>-->
  </div>

</div>
