<div *ngIf="error">{{errorMessage}}</div>
<div *ngIf="mode==='creators'" class="la-process-div" fxLayoutAlign="space-around start">
  <div class="la-process-card" fxLayout="column" *ngIf="!loading">
    <h3>Select Creator:</h3>
    <div class="la-process-selection">
      <div class="la-available-process" (click)="selectProcess('creator', creator)" *ngFor="let creator of caseCreatorList">
        <div class="la-process-name">{{creator.name}}</div>
        <div fxLayout="column" class="la-sandbox-selection-dtl" fxLayoutAlign="start start">
          <div>Id: {{creator.id}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="mode==='actions'" class="la-process-div" fxLayoutAlign="space-around start">
  <div class="la-process-card" fxLayout="column" *ngIf="!loading">
    <h3>Enter a case reference to list actions</h3>
    <mat-form-field fxFlex style="margin-left: 15px">
      <input matInput name="caseReference" type="text" placeholder="Enter a Case Reference" [(ngModel)]="caseReference" maxlength="50">
    </mat-form-field>
    <div *ngIf="caseReference">
    <h3>Now click an action to run it:</h3>
    <span style="margin-left: 30px; font-size: 14px">Note - all actions are listed - some may not be runable</span>
      <div class="la-process-selection">
        <div class="la-available-process" (click)="selectProcess('action', action)" *ngFor="let action of caseActionList">
          <div class="la-process-name">{{action.name}}</div>
          <div fxLayout="column" class="la-process-selection-dtl" fxLayoutAlign="start start">
            <div>Id: {{action.id}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--div fxLayout="column" fxLayoutAlign="start start">
  <div fxFlex *ngIf="mode==='creators'">
    <h4 style="margin-left: 30px">Select a creator to create a case</h4>
    <mat-action-list>
      <mat-list-item *ngFor="let creator of caseCreatorList" (click)="selectProcess('creator', creator)">
        <mat-icon mat-list-icon>create_new_folder</mat-icon>
        <h4 mat-line>{{creator.name}}</h4>
        <p mat-line>Id: {{creator.id}}</p>
      </mat-list-item>
    </mat-action-list>
  </div>
  <div fxFlex fxLayout="column" *ngIf="mode==='actions'">
    <h4 style="margin-left: 30px">Enter a case reference to list actions</h4>
    <mat-form-field fxFlex style="margin-left: 15px">
      <input matInput name="caseReference" type="text" placeholder="Enter a Case Reference" [(ngModel)]="caseReference" maxlength="50">
    </mat-form-field>
    <mat-action-list *ngIf="caseReference">
      <h4 style="margin-left: 30px">Now click an action to run it</h4>
      <span style="margin-left: 30px; font-size: 14px">Note - all actions are listed - some may not be runable</span>
      <mat-list-item *ngFor="let action of caseActionList" (click)="selectProcess('action', action)">
        <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        <h4 mat-line>{{action.name}}</h4>
        <p mat-line>Id: {{action.id}}</p>
      </mat-list-item>
    </mat-action-list>
  </div>
  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div-->

