<div fxLayout="column" fxFill>
  <div>
    <tc-tibco-cloud-menu-bar [headerText]="'Preview Components'">
      <div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <div style="min-width:125px" fxLayoutAlign="end center">
              <span>{{fixedHeight ? 'Fixed Height' : 'Scroll'}}</span>
              <mat-icon style="margin-left: 5px" class="tcs-size-icon" (click)="toggleWidgetHeight()">aspect_ratio</mat-icon>
            </div>
            <div style="min-width:125px" fxLayoutAlign="center center">
              <span>{{widgetSize}}% width</span>
              <mat-icon style="margin-left: 5px" class="tcs-size-icon" (click)="toggleWidgetSize()">fullscreen_exit</mat-icon>
            </div>
          </div>
      </div>
    </tc-tibco-cloud-menu-bar>
  </div>
  <div fxFlex style="overflow: hidden">
    <mat-tab-group fxFill>
      <!-- mat-tab label="Creator">
        <ng-template matTabContent>
          <tcla-live-apps-creator-standalone applicationId="2335" typeId="1" [sandboxId]="3534" processName="New Product Notification"></tcla-live-apps-creator-standalone>
        </ng-template>
      </mat-tab -->
      <mat-tab label="Creator Selection">
        <ng-template matTabContent>
          <tcla-live-apps-application-create-button *ngIf="!selectedCreatorApp"
                                                    style="margin-right: 20px; margin-left: 20px" [sandboxId]="sandboxId"
                                                    [appIds]="liveAppsConfig.applicationIds"
                                                    (selection)="handleCreatorAppSelection($event)"></tcla-live-apps-application-create-button>
          <tcla-live-apps-creators *ngIf="selectedCreatorApp" [sandboxId]="sandboxId" [applicationId]="selectedCreatorApp.applicationId"
                                   [typeId]="selectedCreatorApp.id" [dataOverride]="initialData"
                                   [customFormDefs]="customFormDefs"
                                   formsFramework="material-design"
                                   [legacyCreators]="legacyCreators"
                                   (caseCreated)="handleCaseCreated($event)"></tcla-live-apps-creators>
          <!--tcla-live-apps-creators *ngIf="selectedCreatorApp" [sandboxId]="sandboxId" [applicationId]="selectedCreatorApp.applicationId"
                                   [typeId]="selectedCreatorApp.id" [dataOverride]="initialData"
                                   [customFormDefs]="customFormDefs"
                                   formsFramework="bootstrap-4"
                                   [legacyCreators]="legacyCreators"
                                   (caseCreated)="handleCaseCreated($event)"></tcla-live-apps-creators-->

        </ng-template>
      </mat-tab>
      <mat-tab label="Messaging">
        <ng-template matTabContent>
          <div fxFill fxLayout="row" *ngIf="messagingConnection; else noConfig">
            <tcmsg-eftl-message-sender style="padding: 5px;" fxFlex [wssUrl]="messagingConnection.wssUrl" [apiKey]="messagingConnection.apiKey" [clientId]="messagingConnection.clientIdPrefix + '-' + generalConfig.uiAppId+'-sender-'+userId" [event]="messagingConnection.event"></tcmsg-eftl-message-sender>
            <tcmsg-eftl-message-receiver style="padding: 5px" fxFlex [wssUrl]="messagingConnection.wssUrl" [apiKey]="messagingConnection.apiKey" [clientId]="messagingConnection.clientIdPrefix + '-' + generalConfig.uiAppId+'-receiver-'+userId" [durable]="messagingConnection.durable" [matcher]="messagingConnection.matcher"></tcmsg-eftl-message-receiver>
          </div>
          <ng-template #noConfig>
            <span>First configure a messaging connection to use messaging</span>
          </ng-template>
        </ng-template>
      </mat-tab>
      <mat-tab label="Search">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="column" style="height:100%">
            <span class="tcs-component-notes">*** Since this component uses virtual scroll parent divs must always have a height or the list items will not render ***</span>
            <span class="tcs-component-notes">*** The search results pane defaults to a min of 400px. This can be changed using the [resultsHeight] parameter ***</span>
            <div fxLayout="row" style="height: 100%;">
              <div style="height:100%" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-search-widget #componentDiv [appIds]="liveAppsConfig.applicationIds" [sandboxId]="sandboxId"
                                              [uiAppId]="generalConfig.uiAppId"></tcla-live-apps-search-widget>
              </div>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Favorite">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-favorite-cases #componentDiv class="padded-widget" [showHeader]="true" [sandboxId]="sandboxId"
                                             [uiAppId]="generalConfig.uiAppId" (clickCase)="handleCaseClick($event)"></tcla-live-apps-favorite-cases>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Recent">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-recent-cases #componentDiv class="padded-widget" [showHeader]="true" [sandboxId]="sandboxId"
                                             [uiAppId]="generalConfig.uiAppId" (clickCase)="handleCaseClick($event)"></tcla-live-apps-recent-cases>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Collaboration">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="column" style="height:100%">
              <span class="tcs-component-notes">*** Since this component uses virtual scroll parent divs must always have a height or the list items will not render ***</span>
              <div fxLayout="row" style="height: 100%;">
                <div style="height:100%" class="demo-widget-border" [fxFlex]="widgetSize">
                  <tcla-live-apps-notes #componentDiv [userId]="userId" [showHeader]="true" [relatedItemId]="generalConfig.uiAppId" [relatedItemType]="'CASE_APP'"></tcla-live-apps-notes>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Documents">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-documents #componentDiv [showHeader]="true" [sandboxId]="sandboxId" [folderId]="generalConfig.uiAppId + '_Docs'" [folderType]="'orgFolders'" [folderDescription]="'Document Library'"></tcla-live-apps-documents>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Active Cases">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-active-cases-widget #componentDiv [sandboxId]="sandboxId" [appIds]="liveAppsConfig.applicationIds" [showHeader]="true" [showPercentages]="true" [uiAppId]="generalConfig.uiAppId"></tcla-live-apps-active-cases-widget>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="States (Milestones)">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-case-states #componentDiv *ngIf="metadata" fxFlex [sandboxId]="sandboxId" [caseRef]="caseRef" [appId]="metadata.applicationId"></tcla-live-apps-case-states>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="States (Case States Audit)">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
            <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
              <tcla-live-apps-case-state-audit #componentDiv *ngIf="metadata" [caseRef]="caseRef" [sandboxId]="sandboxId" [appId]="metadata.applicationId"></tcla-live-apps-case-state-audit>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Audit">
        <ng-template matTabContent>
        <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="column" style="height:100%">
            <span class="tcs-component-notes">*** Since this component uses virtual scroll parent divs must always have a height or the list items will not render ***</span>
            <div fxLayout="row" style="height: 100%;">
              <div style="height:100%" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-case-audit #componentDiv [sandboxId]="sandboxId" [caseRef]="caseRef"></tcla-live-apps-case-audit>
              </div>
            </div>
          </div>
        </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Summary Card (miniCard)">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-case-summary #componentDiv [uiAppId]="generalConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'miniCard'" [sandboxId]="sandboxId" [caseRef]="caseRef"></tcla-live-apps-case-summary>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Summary Card (card)">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-case-summary #componentDiv [uiAppId]="generalConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'card'" [sandboxId]="sandboxId" [caseRef]="caseRef"></tcla-live-apps-case-summary>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Summary Card (list)">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-case-summary #componentDiv [uiAppId]="generalConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'list'" [sandboxId]="sandboxId" [caseRef]="caseRef"></tcla-live-apps-case-summary>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Summary Card (staticList)">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-case-summary #componentDiv [uiAppId]="generalConfig.uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'staticlist'" [sandboxId]="sandboxId" [caseRef]="caseRef"></tcla-live-apps-case-summary>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Workitems">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-workitems #componentDiv class="padded-widget" [showHeader]="true" [sandboxId]="sandboxId"
                                             [uiAppId]="generalConfig.uiAppId" (clickCase)="handleCaseClick($event)"></tcla-live-apps-workitems>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <!-- using workitem requires the legacy workitem app to be deployed and run as a hidden iframe in starterApp) -->
      <!-- Using ng-template will cause the form to cancel/reload between tab changes -->
      <!--mat-tab label="Workitem">
        <ng-template matTabContent>
          <div fxFill style="padding:20px;" fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" [ngClass]="{'tcs-fixed-height' : fixedHeight}">
              <div [ngClass]="{'tcs-fixed-height' : fixedHeight}" class="demo-widget-border" [fxFlex]="widgetSize">
                <tcla-live-apps-legacy-form [workitemId]="17869"></tcla-live-apps-legacy-form>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab-->
    </mat-tab-group>
  </div>
</div>

