<div fxFlexFill>
<tcla-live-apps-login *ngIf="!loggedIn" (loginContext)="handleLoginContext($event)"></tcla-live-apps-login>

<div *ngIf="loggedIn"fxFlexFill>
  <tcla-tibco-cloud-navbar class="tcla-cloud-navbar" [appName]="'Custom Cloud App (TIBCO LABS™)'"></tcla-tibco-cloud-navbar>
  <br>


  <div #widgetsContainer class="tcla-components-pane" fxLayout="column" fxFlexFill>

    <tcla-live-apps-case-actions [sandboxId]="loginContext.claims.primaryProductionSandbox.id" [typeId]="appConfig.typeId" [appId]="appConfig.applicationId" [caseReference]="'150471'" [caseState]="'Created'" [maxActions]="1" (actionClicked)="handleActionClick($event)"></tcla-live-apps-case-actions>

    <tcla-live-apps-creators [sandboxId]="loginContext.claims.primaryProductionSandbox.id" [applicationId]="appConfig.applicationId" [typeId]="appConfig.typeId" (caseCreated)="handleCaseCreation($event)"></tcla-live-apps-creators>

    <div #widgetBlock1 class="widget-block-1" fxFlex>
      <tcla-live-apps-search-widget [sandboxId]="loginContext.claims.primaryProductionSandbox.id" [uiAppId]="appConfig.uiAppId" (caseSelected)="clickCaseAction($event)"></tcla-live-apps-search-widget>
    </div>

    <div #widgetBlock2 class="widget-block-2" fxFlex fxLayout="row" fxLayoutAlign="space-around start">
      <div #widgetBlock2.1 class="widget-block-2-1">
        <tcla-live-apps-favorite-cases class="padded-widget" [sandboxId]="loginContext.claims.primaryProductionSandbox.id" [uiAppId]="appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></tcla-live-apps-favorite-cases>
      </div>
      <div #widgetBlock2.2 class="widget-block-2-2">
        <tcla-live-apps-recent-cases class="padded-widget" [sandboxId]="loginContext.claims.primaryProductionSandbox.id" [uiAppId]="appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></tcla-live-apps-recent-cases>
      </div>
    </div>

    <!--div #widgetBlock3 class="widget-block-3" style="margin-top: 420px; padding-left: 80px; padding-right: 80px;">
      <tcla-spotfire-viz
        url="https://spotfire-next.cloud.tibco.com"
        path="/Users/gozvbddiuoigki7yyogn6yywmiijdy2r/Public/Expense Analyzer Dashboard"
      >
      </tcla-spotfire-viz-->
    </div>

  </div>
</div>
