<div *ngIf="valid" fxLayout="column" fxLayoutAlign="start start" fxFlex>
  <button (click)="refresh()">REFRESH ALL</button>
  <button (click)="toggleFavorite()">TOGGLE FAVORITE</button>

  <div>Is Favorite? {{isFavorite}}</div>

  <div fxLayout="column" style="margin-left: 40px">
    <div fxFlex fxLayout="row" fxLayoutGap="20px">
      <app-live-apps-notes [relatedItemType]="'CASE_APP'" [relatedItemId]="caseRef" [userId]="appConfig.userId"></app-live-apps-notes>
      <app-live-apps-documents [sandboxId]="appConfig.sandboxId" [folderId]="caseRef" [folderType]="'caseFolders'"></app-live-apps-documents>
      <app-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'card'" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></app-live-apps-case-summary>
      <app-live-apps-case-summary [uiAppId]="appConfig.uiAppId" [displayType]="'miniCard'" [borderCard]="true" [typeBar]="true" [caseReference]="caseRef" [sandboxId]="appConfig.sandboxId"></app-live-apps-case-summary>
    </div>


    <br>

    <!--
    <app-live-apps-case-data [uiAppId]="uiAppId" [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'"></app-live-apps-case-data>
    <br>
    <app-live-apps-case-states [sandboxId]="38" [appId]="'934'"></app-live-apps-case-states>
    <br>
    <app-live-apps-case-actions [caseReference]="caseRef" [sandboxId]="38" [appId]="'934'" [typeId]="'1'" [caseState]="'Reported'"></app-live-apps-case-actions>
    <br>
    <app-live-apps-case-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-audit>
    <br>
    <app-live-apps-case-state-audit [caseRef]="caseRef" [sandboxId]="38"></app-live-apps-case-state-audit>
    <br>-->
  </div>

</div>
