<div class="tcs-small-pane" fxLayout="column">
  <div class="tcs-collaboration-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
      <mat-icon class="tcs-icon tcs-icon-active tcs-collaboration-feed" svgIcon="tcs-collaboration-feed"></mat-icon>
      <div class="tcs-collaboration-header-text">Notes</div>
    </div>
    <mat-icon *ngIf="subscribed" (click)="unsubscribe()" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-edit-icon" svgIcon="tcs-collaboration-subscribed"></mat-icon>
    <mat-icon *ngIf="!subscribed" (click)="subscribe()" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-edit-icon" svgIcon="tcs-collaboration-unsubscribed"></mat-icon>
  </div>
  <div fxLayout="column" fxFlex>
    <div class="tcs-collaboration-existing-threads" fxLayout="column" fxFlex>
      <div *ngIf="threads && threads.threads.length > 0">
        <div class="tcs-collaboration-detail-box tcs-collaboration-thread" [ngClass]="{ editing: thread.editMode }" *ngFor="let thread of threads.threads | reverse" fxLayout="column">

          <div class="tcs-thread-box">
            <!-- collaboration threads -->
            <div class="tcs-collaboration-entry">
              <div *ngIf="!thread.editMode">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="tcs-collaboration-thread-author">{{thread.note.createdByName}}</span>
                  <div fxLayoutAlign="row">
                  <span *ngIf="thread.note.modifiedDate > thread.note.createdDate" class="tcs-collaboration-edited">Edited
                  </span>
                    <span class="tcs-collaboration-thread-date">{{thread.note.modifiedDate | durationSince}}</span>
                  </div>
                </div>
                <span class="tcs-collaboration-thread-text" matTooltip="{{thread.note.text}}" matTooltipPosition="below">{{thread.note.text | ellipsis: 70}}</span>
              </div>
              <app-live-apps-notes-editor *ngIf="thread.editMode" [noteText]="thread.note.text" (noteSubmitted)="updateNote(thread.note, $event)"></app-live-apps-notes-editor>
            </div>
            <div class="tcs-icon-row" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="tcs-collaboration-thread-icon-left">
                <mat-icon (click)="deleteNote(thread.note.id)" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-delete-icon" svgIcon="tcs-collaboration-delete"></mat-icon>
                <mat-icon (click)="editNote(thread)" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-edit-icon" svgIcon="tcs-collaboration-edit"></mat-icon>
              </div>
              <div class="tcs-collaboration-thread-icon-right" fxLayoutAlign="end center" fxLayoutGap="8px">
                <span *ngIf="thread.note.thread.totalCount > 1" class="tcs-collaboration-thread-replies" (click)="toggleReplies(thread)">{{thread.note.thread.totalCount-1}} replies</span>
                <mat-icon (click)="toggleNewReply(thread)" class="tcs-icon tcs-collaboration-reply-icon" svgIcon="tcs-collaboration-reply"></mat-icon>
              </div>
            </div>
          </div>
        <div class="tcs-collaboration-line"></div>
        <!-- replies -->
        <div class="tcs-collaboration-reply-box" *ngIf="thread.showReplies">
          <div fxLayout="column">
            <app-live-apps-notes-editor class="tcs-collaboration-new-reply-component" *ngIf="thread.showNewReply" [isReply]="true" [noteText]="thread.newReply.text" (noteSubmitted)="createReply(thread, $event)"></app-live-apps-notes-editor>
            <div class="tcs-collaboration-line"></div>
          </div>
          <div class="tcs-collaboration-detail-box tcs-collaboration-reply" [ngClass]="{ editing: reply.editMode }" *ngFor="let reply of thread.thread | reverse" fxLayout="column">
            <div class="tcs-thread-box" fxLayout="row">
              <mat-icon class="tcs-icon tcs-collaboration-reply-item-icon" svgIcon="tcs-collaboration-reply"></mat-icon>
              <div fxLayout="column" class="tcs-collaboration-reply-details">
                <div class="tcs-collaboration-entry">
                  <div *ngIf="!reply.editMode">
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                      <span class="tcs-collaboration-thread-author">{{reply.createdByName}}</span>
                      <span class="tcs-collaboration-thread-date">{{reply.modifiedDate | durationSince}}</span>
                    </div>
                    <span class="tcs-collaboration-thread-text" matTooltip="{{reply.text}}" matTooltipPosition="below">{{reply.text | ellipsis: 60}}</span>
                  </div>
                  <app-live-apps-notes-editor *ngIf="reply.editMode" [noteText]="reply.text" (noteSubmitted)="updateNote(reply, $event)"></app-live-apps-notes-editor>
                </div>
                <div class="tcs-icon-row" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="tcs-collaboration-thread-icon-left">
                    <mat-icon (click)="deleteNote(reply.id)" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-delete-icon" svgIcon="tcs-collaboration-delete"></mat-icon>
                    <mat-icon (click)="editNote(reply)" class="tcs-icon tcs-icon-active tcs-collaboration-edit-buttons tcs-collaboration-edit-icon" svgIcon="tcs-collaboration-edit"></mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="tcs-collaboration-reply-line"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <app-live-apps-notes-editor class="tcs-collaboration-new-note-component" [noteText]="newNote.text" (noteSubmitted)="createThread($event)"></app-live-apps-notes-editor>
    <!--div class="tcs-collaboration-new-thread" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
      <form class="tcs-collaboration-new-thread-form" #newThreadForm="ngForm" fxFlex>
        <textarea fxFlex class="tcs-collaboration-input" [(ngModel)]="newNote.text" name="newNote.text" md-maxlength="10000" placeholder="New Thread... " rows="2" max-rows="true"></textarea>
      </form>
      <mat-icon class="tcs-icon tcs-collaboration-send-icon" svgIcon="tcs-collaboration-send" (click)="createThread(newNote.text)"></mat-icon>
    </div-->
  </div>
</div>

<!--mat-list fxLayout="column" *ngIf="threads && threads.threads.length > 0">
  <div *ngFor="let thread of threads.threads" fxLayout="column">
    <h4 matSubheader>{{thread.note.createdByName}}</h4>
    <mat-list-item>
      <h4 mat-line>{{thread.note.text}}</h4>
      <p mat-line> {{thread.note.modifiedDate | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div *ngIf="thread.thread.length > 0" style="margin-left: 50px;">
      <h4 matSubheader>Replies</h4>
      <div>
        <mat-list-item *ngFor="let reply of thread.thread">
          <h4 mat-line>{{reply.createdByName}}</h4>
          <h4 mat-line>{{reply.text}}</h4>
          <p mat-line> {{reply.modifiedDate | date}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</mat-list>
</div-->


<!--
<h3>New Note:</h3>
<form #newNotesForm="ngForm" (submit)="createNote($event)" fxFlex fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput name="newNote.text" type="text" placeholder="Comments" [(ngModel)]="newNote.text"/>
  </mat-form-field>
  <button mat-raised-button style="max-width: 100px" type="submit">Create Note</button>
</form>

<h3>Delete Note:</h3>
<form #delNotesForm="ngForm" (submit)="deleteNote($event)" fxFlex fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput name="delNoteId" type="number" placeholder="Id" [(ngModel)]="delNoteId"/>
  </mat-form-field>
  <button mat-raised-button style="max-width: 100px" type="submit">Delete Note</button>
</form>

<br>

<div *ngFor="let note of notes">
    <pre>{{note | json}}</pre>
    <form #{{note.id}}updNotesForm="ngForm" (submit)="updateNote(note)" fxFlex fxLayout="column">
      <mat-form-field fxFlex>
        <input matInput name="note.text" type="text" placeholder="note text" [(ngModel)]="note.text"/>
      </mat-form-field>
    <button mat-raised-button style="max-width: 100px" type="submit">Update Note</button>
  </form>
</div>
-->
