.tcs-small-pane {
  width: 400px;
  height: 386px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
}

.tcs-collaboration-header {
  height: 40px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 1px 2px 0 #dedede;
  padding-left: 20px;
  padding-right: 20px;
}

.tcs-collaboration-header-text {
  margin-left: 10px;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.tcs-collaboration-thread-icon-left {
  height: 24px;
  width: 50px;
}

.tcs-collaboration-existing-threads {
  overflow-y: auto;
  /*height: 70%;*/
}

.tcs-collaboration-detail-box {
  min-height: 85px;
  flex-shrink: 0;
}

.tcs-collaboration-detail-box.editing {
  min-height: 109px;
}

.tcs-collaboration-detail-box.editing > .tcs-thread-box {
  height: 110px;
  background-color: #EEF0F7;
}

.tcs-collaboration-new-reply-box {
  transition: background-color 0.5s;
  background-color: #EEF0F7;
  margin-left: 20px;
  padding-right: 20px;
}

.tcs-collaboration-detail-box.tcs-collaboration-reply.editing {
  min-height: 100px;
}

.tcs-collaboration-reply {
  padding-left: 20px;
}

.tcs-thread-box {
  height: 86px;
}

.tcs-thread-box:hover {
  background-color: #EEF0F7;
  transition: background-color 0.5s;
}



.tcs-thread-box:hover .tcs-icon.tcs-icon-active {
  display: inline-block;
}

.tcs-thread-box .tcs-icon.tcs-icon-active {
  display: none;
}

.tcs-collaboration-entry {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tcs-icon-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.tcs-collaboration-thread-author {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
}

.tcs-collaboration-thread-text {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
}

.tcs-collaboration-thread-date {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #b6b6b6;
}

.tcs-collaboration-edited {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #EF5350;
  padding-right: 4px;
}

.tcs-collaboration-reply-icon {
  transform: scale(-1,1);
}

.tcs-collaboration-reply-item-icon {
  transform: scale(1,-1);
  margin-top: 10px;
}

.tcs-collaboration-reply-box {
  /*margin-left: 20px;*/
}

.tcs-collaboration-reply-details {
  width: 100%;
}

.tcs-collaboration-thread-replies {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #0081cb;
}

.tcs-icon {
  height: 20px;
  width: 20px;
}

:host ::ng-deep .tcs-icon.tcs-collaboration-edit-buttons:hover path.svg-content {
  fill: #0081cb;
  cursor: pointer;
}

:host ::ng-deep .tcs-icon.tcs-collaboration-edit-buttons:hover g.svg-content {
  fill: #0081cb;
  cursor: pointer;
}

.tcs-icon.tcs-collaboration-edit-icon {
  margin-left: 5px;
}

.tcs-icon.tcs-collaboration-send-icon {
  height: 24px;
  width: 24px;
  margin-left: 12px;
}

:host ::ng-deep .tcs-icon.tcs-collaboration-send-icon:hover path.svg-content {
  fill: #0081cb;
}

.tcs-collaboration-line {
  margin-left: 20px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  border-bottom-color: #f4f4f4;
  border-bottom-width: 1.1px;
  border-bottom-style: solid;
}

.tcs-collaboration-reply-line {
  padding: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  border-bottom-color: #f4f4f4;
  border-bottom-width: 1.1px;
  border-bottom-style: solid;
}

.tcs-collaboration-new-thread {
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 10px;*/
  max-height: 85px;
  height: 85px;
  min-height: 85px;
}

.tcs-collaboration-edit-thread {
  margin-top: 10px;
}

.tcs-collaboration-new-reply {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tcs-collaboration-input  {
   height: 55px;
   max-width: 100%;
   border-color: #d5e6ff;
   font-size: 11px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: -0.1px;
   color: #b6b6b6;
   resize: none;
   border-radius: 3px;
 }

.tcs-collaboration-reply-textbox {
  height: 55px;
  max-width: 100%;
  border-color: #d5e6ff;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #b6b6b6;
  resize: none;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tcs-collaboration-edit  {
  height: 55px;
  max-width: 100%;
  border-color: #d5e6ff;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #b6b6b6;
  resize: none;
  border-radius: 3px;
}

.tcs-collaboration-new-thread-form {
  max-width: 90%;
  max-height: 100%;
}

.tcs-collaboration-new-note-component {
  height: 85px;
  min-height: 85px;
  max-height: 85px;
  margin-left: 20px;
  margin-right: 20px;
}

.tcs-collaboration-new-reply-component {
  height: 85px;
  min-height: 85px;
  max-height: 85px;
  margin-left: 20px;
  margin-right: 20px;
}
