<div fxLayout="column" fxFlex>
  <div>
    <tc-tibco-cloud-menu-bar [toolbarButtons]="toolbarButtons" [headerText]="title"
                             (toolbarButtonEvent)="handleToolbarButtonEvent($event)">
      <div>
        <ng-content select="[customToolbarContent]" fxFlex></ng-content>
      </div>
    </tc-tibco-cloud-menu-bar>
  </div>

  <div class="tcs-home-content"
       style="padding-left: 20px; padding-right: 20px; margin-top: 10px; padding-bottom: 120px; height: 100%; display: block;">
    <div class="back">
      <p class="middle">
        Welcome to your Custom Cloud Starter Base App as, TCSTK-Base-App
      </p>
    </div>
  </div>
</div>
