<tc-tibco-cloud-configuration [baseRoute]="'starterApp/configuration/'" [configMenuPages]="configMenuPages"  (routeAction)="handleRouteAction($event)">
  <!--  This is for PD usecase where you want navbar - un-comment if you want it -->
<!--mat-button-toggle-group customToolbarContent name="view">
  <mat-button-toggle
    value="Projected Button">'Projected Button2'</mat-button-toggle>
  <mat-button-toggle
    value="Projected Button2">'Projected Button2'</mat-button-toggle>
  </mat-button-toggle-group-->
</tc-tibco-cloud-configuration>
