.tc-home-welcome-text {
  font-family: Source Sans Pro;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}

.tcs-home-content {
  overflow: auto;
}

.tcs-header {
  height: 40px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 1px 2px 0 #dedede;
  padding-left: 20px;
  padding-right: 20px;
}

.tcs-header-text {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: black;
  margin-left: 10px;
}

.tcs-pane {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  overflow: hidden;
}

.tcs-panc-content {
  margin: 10px;
}

.feed-frame {
  margin-top: 20px;
}


.risk-investigation-top-level .mat-button-toggle-checked{
  color: #ffffff;
  border-radius: 100px;
  background-color: #062e79;
  border: solid 1px #062e79;
  padding-left: 7px;
  padding-right: 7px;

}

.risk-investigation-top-level .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: 1px solid rgb(255, 255, 255);
}
.risk-investigation-top-level .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 10px !important;
}

.mat-button-toggle-label-content {
  line-height: 10px !important;
}



:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0081cb;
}
.nav-switch-bar{
  border-radius: 100px;
  border: solid 1px #b6b6b6;
  background-color: #ffffff;
  height: 30px;
}
