<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
  <tc-tibco-cloud-menu-bar [toolbarButtons]="toolbarButtons" (toolbarButtonEvent)="handleToolbarButtonEvent($event)">
    <!-- this is content projection. Tibco cloud menu bar contains ng-template and content here is projected inside the ng-content -->
    <tcla-live-apps-case-summary class="live-apps-widget" [uiAppId]="uiAppId" [typeBar]="true" [borderCard]="false" [displayType]="'list'" [sandboxId]="sandboxId" [caseReference]="caseRef"></tcla-live-apps-case-summary>
  </tc-tibco-cloud-menu-bar>
  <div *ngIf="valid" fxLayout="column" fxFlex fxFill style="padding: 20px">
    <div fxLayout="row" fxFlex fxLayout="space-around, stretch" fxLayoutGap="20px">
      <div fxLayout="column" fxFill fxFlex="70" style="min-width: 70%">
        <tcla-live-apps-case-data class="live-apps-widget" fxFill [caseReference]="caseRef" [sandboxId]="sandboxId" [uiAppId]="uiAppId" [appId]="appId" [typeId]="typeId"></tcla-live-apps-case-data>
      </div>
      <div fxLayout="column" fxFlex fxLayoutGap="20px">
        <tcla-live-apps-notes class="live-apps-widget" fxFlex="50" [relatedItemType]="'CASE_APP'" [relatedItemId]="caseRef" [userId]="userId"></tcla-live-apps-notes>
        <tcla-live-apps-documents class="live-apps-widget" fxFlex="50" [sandboxId]="sandboxId" [folderId]="caseRef" [folderType]="'caseFolders'"></tcla-live-apps-documents>
      </div>
    </div>
  </div>
</div>
