@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/nova-light/theme.css";

/* @import '~ag-grid-community/dist/styles/ag-theme-material.css'; */
/* @import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"; */
/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: #f4f4f4;
  overflow: hidden;
}

.tcs-style-dialog .mat-dialog-container {
  padding: 0px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 #dedede;
  background-color: #ffffff;
}

/* required live apps form overrides */
body .md-select-menu-container {
  z-index: 1090;
}

body md-autocomplete md-autocomplete-wrap.md-menu-showing {
  z-index: 1051;
}

body .md-scroll-mask {
  z-index: 1050;
}

body .md-scroll-mask > .md-scroll-mask-bar {
  z-index: 1065;
}

body .md-datepicker-is-showing .md-scroll-mask {
  z-index: 1099
}

body .md-datepicker-calendar-pane {
  z-index: 1001;
}

/* end required live apps form overrides */

