<div fxLayout="row" fxLayoutAlign="space-around start">
  <app-live-apps-favorite-cases [sandboxId]="38" [uiAppId]="uiAppId"></app-live-apps-favorite-cases>
  <app-live-apps-recent-cases [sandboxId]="38" [uiAppId]="uiAppId"></app-live-apps-recent-cases>
</div>

<br>

<div fxLayout="row" fxLayoutAlign="space-around start">
  <app-live-apps-application-configuration [appId]="'934'" [uiAppId]="uiAppId" [sandboxId]="38" [folderId]="'ServiceRequest_Icons'" (configChanged)="refresh()"></app-live-apps-application-configuration>
</div>
<br>
<!--app-live-apps-case-state-config [sandboxId]="38" [uiAppId]="uiAppId" [typeId]="'1'" [appId]="'934'"></app-live-apps-case-state-config-->

<br>
<app-live-apps-documents [folderId]="'ServiceRequest_Icons'" [folderDescription]="'Case Icons'" [folderType]="'orgFolders'"></app-live-apps-documents>

