<div fxLayout="row" fxLayoutAlign="space-around start">
  <app-live-apps-favorite-cases [sandboxId]="this.appConfig.sandboxId" [uiAppId]="this.appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></app-live-apps-favorite-cases>
  <app-live-apps-recent-cases [sandboxId]="this.appConfig.sandboxId" [uiAppId]="this.appConfig.uiAppId" (clickCase)="clickCaseAction($event)"></app-live-apps-recent-cases>
</div>

<br>
<div fxLayout="row" fxLayoutAlign="space-around start" style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
  <app-live-apps-case-list fxFlex [sandboxId]="this.appConfig.sandboxId" [uiAppId]="this.appConfig.uiAppId" [caseRefs]="['150481', '150491', '150471']" [displayType]="'list'" [headerText]="'All Cases'" [highlight]="" (clickCase)="clickCaseAction($event)"></app-live-apps-case-list>
</div>

<div fxLayout="row" fxLayoutAlign="space-around start">
  <app-live-apps-application-configuration [appId]="appConfig.applicationId" [appTypeLabel]="appConfig.caseTypeLabel" [uiAppId]="appConfig.uiAppId" [sandboxId]="appConfig.sandboxId" [folderId]="appConfig.caseIconsFolderId" (configChanged)="refresh()"></app-live-apps-application-configuration>
</div>
<br>
<!--app-live-apps-case-state-config [sandboxId]="38" [uiAppId]="uiAppId" [typeId]="'1'" [appId]="'934'"></app-live-apps-case-state-config-->

<br>
<app-live-apps-documents [folderId]="appConfig.caseIconsFolderId" [folderDescription]="'Case Icons'" [folderType]="'orgFolders'"></app-live-apps-documents>

